<!DOCTYPE html>
<html>
<head>
<title>Ansible Web Report</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: ;
  text-align: left;
  outline: ;
  font-size: 15px;
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: "Raleway";
}

</style>
</head>
<body class="w3-light-grey">

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu </button>
  <span class="w3-bar-item w3-right">Ansible Reports</span>

</div>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT!
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
-->


  <!-- Header -->
  <header class="w3-container" style="padding-top:40px">
    <h5><b><i class="fa fa-dashboard"></i> Linux Report </b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">

    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
            <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Hosts</h4>
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h4>Distros</h4>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      {%- for item in groups['localhost'] %}
      <tr>
        <td>{{ hostvars[item].ansible_distribution }}</td>
        <td>{{ hostvars[item].ansible_distribution_version }}</td>
      </tr>
      {% endfor %}
    </table><br>
  </div>

  <hr>
  <div class="w3-container">
    <h2>Host Reports</h2>
  {%for item in groups['localhost'] -%}
    <ul class="w3-ul w3-card-4 w3-white">
      <button type="button" class="collapsible"><h4>{{ item }}:  {{ hostvars[item].ansible_hostname }}</h4></button>
<div class="content">
  <table>
      <tbody class="collapsible">
        <tr>
          <th><h3>List</h3></th>
          <th><h3>Gathered Facts</h3></th>
        </tr>
        <tr>
          <td>FQDN</td>
          <td>{{ hostvars[item].ansible_fqdn }} </td>
          </tr>
        <tr>
          <td>OS Family</td>
          <td>{{ hostvars[item].ansible_os_family }} </td>
          </tr>
          <tr>
          <td>Distribution</td>
          <td>{{ hostvars[item].ansible_distribution }} </td>
          </tr>
          <tr>
          <td>Bios Date</td>
          <td>{{ hostvars[item].ansible_bios_date }} </td>
          </tr>
          <tr>
          <td>Distro m.v</td>
          <td>{{ hostvars[item].ansible_distribution_major_version }} </td>
        </tr>
        <tr>
          <td>Distro Version</td>
          <td>{{ hostvars[item].ansible_distribution_version }}</td>
        </tr>
        <tr>
          <td>Kernel </td>
          <td>{{ hostvars[item].ansible_kernel }} </td>
        </tr>
        <tr>
          <td>Ethernet Interface</td>
          <td>{{ hostvars[item].ansible_interfaces }}</td>
        </tr>
        <tr>
          <td>IPv4</td>
          <td>{{ hostvars[item].ansible_all_ipv4_addresses }}</td>
        </tr>
        <tr>
          <td>IPv6</td>
          <td>{{ hostvars[item].ansible_all_ipv6_addresses }} </td>
        </tr>
        <tr>
          <td>DNS</td>
          <td>{{ hostvars[item].ansible_dns }} </td>
          </tr>
      </tbody>
  </table>

  <!-- TABLE SCRIPT   -->
  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "none") {
        content.style.display = "block";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
  <!-- -------####-----------   -->

    </div>
    </ul>
{% endfor %}
  </div>
</hr>
  <hr>



  <div class="w3-container">

    <div class="w3-row">

    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green"></h5>
        <p></p>


      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4></h4>
    <p>Written by: <br>
      Dan Eckholm. <br>
      Version:  0.5.0</p>
      This is awsome!
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>